body {
    font-family: sans-serif;
    margin: 0;
    background: black;
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: flex;
    background-color: #5f1219;
    min-height: 70px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo {
    display: flex;
}

.logo img {
    height: 50px;
    margin-right: 12px;
}

nav a {
    font-weight: 600;
    padding-right: 11px;
}

nav a:hover{
    color: blueviolet;
}

@media (max-width: 680px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}

