body {
    background: rgb(58, 51, 51);
}

.movies {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(150px, 1fr));
    gap: 8px;
}



.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 5px;
    transition: transform 0.32s ease-in-out;
    &:hover {
        transform: translateY(-5px);
        
    }
}

